<!DOCTYPE html>
<html ng-app="plunker">

  <head>

  
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.5/angular.js"></script>
    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.4.0.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" rel="stylesheet" />
    <script src="script.js"></script>
  </head>

  <body ng-controller="AccordionDemoCtrl">
    <accordion close-others="false">
      <button class="btn btn-default btn-sm" ng-click="obj.isAllOpen = !obj.isAllOpen">expand/collapse</button>

 {{obj.isAllOpen}}
                    <accordion-group is-open="obj.isopen || obj.isAllOpen" ng-repeat="site in groups">
        <accordion-heading ng-click="obj.isopen = !obj.isopen">
               hey {{obj.isopen}}
            </accordion-heading>


           hello
        </accordion-group>
    </accordion>
  </body>

</html>
